<li class="list-group-item">
    {{burger_name}}
        
        {{#if devour}}
        {{else}}
        <button type= "button" class="eat-burger btn btn-primary btn-sm" data-id="{{this.id}}" data-neweaten="{{devour}}">Devour!</button>
        {{/if}}
</li> 