body {
    background-color: black;
    font-family: 'Nerko One', cursive;
}

.jumbotron {
    background: linear-gradient(to bottom, #ffff00 0%, #ff6666 100%);
    border-radius: 15px 15px 15px 15px;
    font-family: 'Nerko One', cursive;
}

.card {
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.card-header {
    
    font-family: 'Nerko One', cursive;
    font-size: x-large;

}
#burgerEntry {
    background-color: rgba(255, 255, 255, 0.5);
}
.list-group-item {
    background-color: rgba(255, 255, 255, 0.5); 
}

